<div class="outer-head">
  <h3>Reset Password</h3>
  <p>Submit this form to reset your password.</p>
</div>
<form class="outer-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <textarea 
    class="form-control" 
    rows="4"
    placeholder="Token"
    name="token"
    ngModel
    required >
  </textarea>
  <input 
    type="email" 
    class="form-control" 
    placeholder="Email Address"
    name="email"
    ngModel
    required >
  <div class="group">
    <input 
      type="password" 
      class="form-control" 
      placeholder="Password"
      name="password"
      minlength="6"
      maxlength="100"
      ngModel
      required
      #password="ngModel" >
    <p class="error-message" *ngIf="password.touched && !password.valid">Password must be between 8-100 characters</p>
  </div>
  <div class="group">
    <input 
      type="password" 
      class="form-control" 
      placeholder="Confirm Password"
      name="confirmPassword"
      ngModel
      #confirmPassword="ngModel" >
    <p class="error-message" *ngIf="confirmPassword.dirty && confirmPassword.value !== password.value">
      Passwords don't match
    </p>
  </div>
  <button 
    type="submit" 
    class="outer-btn-create btn btn--type-02"
    [disabled]="!form.valid || fetching" >
    <span *ngIf="!fetching">Send Token</span>
    <app-spinner *ngIf="fetching"></app-spinner>
  </button>
  <p class="error-message mt--20" *ngIf="!!error">{{ error }}</p>
</form>
