<div class="container mt--20">
  <div class="row">
    <div class="col-md-12 parent-col">
      <h3>Terms of Service</h3>
      <p>
        Here's a quick summary of our Terms of Service
      </p>
      <div class="col-md-6 ul-col">
        <ul>
          <li>
            <b>Our mission is to share and grow the world’s knowledge</b>: 
            The Asky platform provides a place to ask questions and get in contact with people who contribute valuable
            perspectives and professional responses. This gives people the power to learn from each other and understand the world better.
          </li>
          <li>
            <b>You own the content that you post</b>:
            You also grant us and other Asky users other privileges and licenses to use the platform.
          </li>
          <li>
            <b>You are responsible for the content that you post</b>:
            This includes ensuring that you have the rights to post that content and also that your content
            does not infringe other party's legal rights or any applicable laws.
          </li>
          <li>
            <b>You can repost content from Asky elsewhere</b>:
            You can do this if you connect the content back to the Asky platform and value the original poster 's rights.
          </li>
          <li>
            <b>We do not endorse or verify content posted by users</b>:
            You are provided with our content and materials "as is," without any warranties.
            You are solely responsible for using the Asky platform your own way. Posts from lawyers, 
            doctors and other professionals should not be treated as a substitute for your specific situation
            for professional advice.
          </li>
          <li>
            <b>You agree to follow the rules of our platform</b>:
            When you use the Asky platform, you also agree to our Terms of Service, accept our 
            <a [routerLink]="['/policy']" class="btn-link pointer"><i>Privacy Policy</i></a>
            , and agree to follow our 
            <a [routerLink]="['/guildlines']" class="btn-link pointer"><i>Forum Guidlines</i></a>.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
