<div class="container mt--20">
  <div class="row">
    <div class="col-md-12 parent-col">
      <h3>Forum Guidlines</h3>
      <p>
        Asky is a place where people are encouraged to share and develop awareness of the environment.
        We assume that if people feel uncomfortable they can not contribute to information or listen to
        the point of view of another person. The following rules help everyone to have a safe experience at Asky: -
      </p>
      <div class="col-md-6 ul-col">
        <ul>
          <li>
            <b>Engage with Others in a Constructive Way</b>:
            Assume everyone is here on Asky to turn the platform into a great resource with diverse backgrounds,
            beliefs , and opinions. Disagreement is Fine, but please be polite, respectful, and considerate of other posters.
          </li>
          <li>
            <b>No Hate Speech</b>:
            Asky is a forum for free debate and does not accept material that opposes or despise an person
            or community based on race , gender, religion, nationality , ethnicity, political affiliation,
            or any other similar characteristic. Any generalizations should be phrased as neutrally as possible
            regarding these subjects.
          </li>
          <li>
            <b>No Harassment and Bullying</b>:
            Abusive behavior aimed at private persons is not allowed. One form of harassment is frequent and 
            unwanted contact. Material does not pose threats or promote abuse against others, including self harm.
          </li>
          <li>
            <b>Identity and Deceptive Activity</b>:
            Do not use Asky to impersonate another user, act as another entity or build multiple accounts without authorization.
          </li>
          <li>
            <b>No Malicious or Illegal Activity</b>:
            Do not use Asky for posting or attracting Spam. Do not contribute viruses , malware, and other 
            malicious programs or engage in activities that harm or interfere with Asky 's operation, or attempt 
            to bypass security or authentication measures. Do not use Asky to engage in unlawful or fraudulent conduct, 
            or to promote illegal activities.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
